{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
{% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
{% element h1 %}
{% trans "Set Password" %}
{% endelement %}
<form method="post" action="{% url 'account_set_password' %}">
    {% csrf_token %}
    {{ redirect_field }}
    <div class="mb-3">
        <label for="id_password1" class="form-label">{% trans "New Password" %}</label>
        <input type="password" class="form-control" id="id_password1" name="password1" required>
    </div>
    <div class="mb-3">
        <label for="id_password2" class="form-label">{% trans "Confirm New Password" %}</label>
        <input type="password" class="form-control" id="id_password2" name="password2" required>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Set Password" %}</button>
</form>
{% endblock content %}