{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
{% translate "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="sign-in">
    <h1>{% translate "Mail me a sign-in code" %}</h1>
    <p>{% blocktranslate %}You will receive an email containing a special code for a password-free sign-in.{% endblocktranslate %}</p>
    {% url 'account_request_login_code' as login_url %}
    <form method="post" action="{{ login_url }}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email }}
        </div>
        {{ redirect_field }}
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">{% translate "Request Code" %}</button>
        </div>
    </form>
    <h2 class="mt-4">
        {% url 'account_login' as login_url %}
        <a href="{{ login_url }}" class="btn btn-link">{% translate "Other sign-in options" %}</a>
    </h2>
</div>
{% endblock content %}