{% extends "includes/base.html" %}

{% block content %}
<div class="event-dt-block p-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="main-title text-center checkout-title">
                    <h3>Create Online Event</h3>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-12">
                <div class="create-block">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="event_name">Event Name</label>
                                    <input type="text" class="form-control" id="event_name" name="event_name" value="{{ form.event_name.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="event_description">Event Description</label>
                                    <textarea class="form-control" id="event_description" name="event_description" required>{{ form.event_description.value|default_if_none:'' }}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_date">Event Date</label>
                                    <input type="date" class="form-control" id="event_date" name="event_date" value="{{ form.event_date.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_time">Event Time</label>
                                    <input type="time" class="form-control" id="event_time" name="event_time" value="{{ form.event_time.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="event_duration">Event Duration</label>
                                    <input type="text" class="form-control" id="event_duration" name="event_duration" value="{{ form.event_duration.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="organizer_name">Organizer Name</label>
                                    <input type="text" class="form-control" id="organizer_name" name="organizer_name" value="{{ form.organizer_name.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="organizer_email">Organizer Email</label>
                                    <input type="email" class="form-control" id="organizer_email" name="organizer_email" value="{{ form.organizer_email.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="organizer_phone">Organizer Phone</label>
                                    <input type="text" class="form-control" id="organizer_phone" name="organizer_phone" value="{{ form.organizer_phone.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="event_url">Event URL</label>
                                    <input type="url" class="form-control" id="event_url" name="event_url" value="{{ form.event_url.value|default_if_none:'' }}" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="main-btn btn-hover h_40 w-100">Create Event</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
